.brand-strategy {
  margin-top: 5%;
  padding: 3% 1%;
  background-image: url(images/background-leadership.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 1%;
}
.brand-strategy img {
  max-width: 100%;
  height: auto;
}

.brand-strategy h3 {
  margin-bottom: 2%;
}

.brand-strategy p {
  margin-bottom: 5%;
}

.find-out:link,
.find-out:visited {
  text-decoration: none;
  color: #ffffff;
  background-color: #ff799e;
  border-radius: 5%;
  padding: 1% 2%;
  margin-bottom: 2%;
}
.leadeship-img,
.metting-img {
  max-width: 100%;
  height: auto;
  border: 5px solid #ffffff;
}

.leadeship-img {
  transform: rotate(15deg);
  margin-top: 10%;
  margin-left: 30%;
}
.metting-img {
  transform: rotate(15deg);
}
@media only screen and (max-width: 1025px) {
  .leadeship-img {
    margin-top: 30%;
  }
}

@media only screen and (max-width: 769px) {
  .brand-strategy h3 {
    font-size: 100%;
    margin-bottom: 2%;
  }

  .brand-strategy div {
    grid-column: 2/5;
  }

  .brand-strategy p {
    font-size: 90%;
    margin-bottom: 5%;
  }

  .leadeship-img {
    display: none;
  }
  .metting-img {
    display: none;
  }
}
