.hero {
  margin-top: 5%;
  background-image: url(images/background-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container-hero {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.container-hero img {
  margin-top: 2%;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: flex-end;
}
.hero-label {
  margin: 0 10%;
}

.container-hero h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  background-image: url(images/coso.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 250%;
  font-weight: 600;
  text-align: center;
}
.hero-start {
  display: flex;
  justify-content: center;
}
.hero-branding,
.start-journey {
  color: #ffffff;
  grid-row: 2/3;
}
.hero-branding {
  grid-column: 1/2;
  justify-self: flex-end;
  font-size: 450%;
  font-weight: 600;
}
.start-journey {
  grid-column: 2/3;
  justify-self: center;
  padding: 1%;
  width: 50%;
  height: 50%;
  background-color: #ff799e;
}
.start-journey div:nth-of-type(1) {
  font-size: 150%;
  font-weight: 600;
  margin-bottom: 5px;
}
.start-journey div:nth-of-type(2) {
  font-size: 80%;
  font-weight: 300;
  margin-bottom: 15px;
}

.start-journey a:link,
.start-journey a:visited {
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 5%;
  padding: 2px 8px;
}

@media only screen and (max-width: 1025px) {
  .container-hero h1 {
    font-size: 180%;
    font-weight: 600;
    text-align: center;
  }
  .hero-branding {
    align-self: center;
    font-size: 250%;
  }
  .start-journey {
    width: 70%;
  }
  .start-journey div:nth-of-type(1) {
    font-size: 120%;
  }
}
@media only screen and (max-width: 769px) {
  .container-hero h1 {
    font-size: 120%;
  }
  .start-journey {
    justify-self: center;
    padding: 1%;
    width: 70%;
  }
  .start-journey div:nth-of-type(1) {
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
