.navigation {
  z-index: 999;
  background-color: #ffffff;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.navigation ul {
  margin: 20px 15px;
  list-style-type: none;
}
.navigation ul li {
  display: inline-block;
  padding-right: 15px;
}
.menu:hover {
  border-bottom: 1px solid #ff799e;
}
.menu:link,
.menu:visited,
.sign-in:link,
.sign-in:visited {
  text-decoration: none;
}
.sign-in {
  padding: 8px 10px;
  border: 1px solid #e9e9e9;
  border-radius: 20%;
}

@media only screen and (max-width: 1025px) {
  .navigation ul li {
    padding-right: 8px;
  }
}

@media only screen and (max-width: 769px) {
  .menu,
  .sign-in {
    font-size: 80%;
  }
  .navigation ul li {
    padding-right: 5px;
  }
}

@media only screen and (max-width: 426px) {
  .navigation ul {
    display: none;
  }
}
