* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #15192b;
}

header {
  padding-top: 5%;
  background-color: #fcf6f7;
}
h3 {
  color: #ff799e;
  margin-bottom: 3%;
}
.case-study {
  margin-left: 10%;
  width: 50%;
}
.label {
  width: fit-content;
  padding: 0 1%;
  margin-left: 80%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
.portfolio {
  margin: 5% 10%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5%;
}
.project {
  width: 350px;
  height: 350px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 25% 15%;
}
.project:hover {
  background: linear-gradient(to bottom left, #a898ee 0%, #ee92b9 100%);
  transform: skewY(170deg);
  transition: background 0.3s;
}

.project a:link,
.project a:visited {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 2%;
}

/* -----------media------------ */
@media only screen and (max-width: 1025px) {
  .project {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 769px) {
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .case-study {
    margin-left: 10%;
    margin-bottom: 5%;
    width: 80%;
  }

  .label {
    margin-left: 70%;
  }
}
@media only screen and (max-width: 426px) {
  h1 {
    font-weight: 400;
  }
  .project {
    width: 350px;
    height: 350px;
  }
  .portfolio {
    margin: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 2%;
  }
  .case-study {
    margin-left: 2%;
    margin-bottom: 5%;
    width: 96%;
  }

  .label {
    margin-left: 0;
  }
}
