.resources .title {
  margin-top: 10%;
  margin-bottom: 2%;
  font-size: 150%;
  text-align: center;
}
.resources .description {
  text-align: center;
  font-weight: 300;
  margin-bottom: 2%;
}
.display-resources {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}
.article {
  margin: 2% 0 0 1%;
}
.article-title {
  color: #ff799e;
  margin: 2% 0;
}
.article summary {
  list-style-type: none;
}

.first-img {
  padding-bottom: 10%;
}

/* -----------media------------- */
@media only screen and (max-width: 1025px) {
  .display-resources {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 769px) {
  .resources .description {
    text-align: left;
    margin: 2% 4%;
  }
  .display-resources {
    grid-template-columns: 1fr;
  }
  .article {
    margin: 2% 4%;
  }
  .first-img {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 426px) {
  .resources .title {
    text-align: left;
    margin-top: 15%;
    margin-left: 4%;
  }
  .resources .description {
    text-align: left;
    margin: 2% 4%;
  }
  .article img {
    width: 95%;
  }
}
