.services h2 {
  width: 60%;
  margin: 2% 20%;
  text-align: center;
  font-size: 180%;
  font-weight: 500;
}

.services h6 {
  text-align: center;
}
.tile-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
}
.first-tile {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #f8e3e0;
}
.second-tile {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #f2f1ff;
}
.third-tile {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #fafaec;
}
.fourth-tile {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #f3fbf7;
}
.tile-grid img {
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: center;
  max-width: 100%;
  height: auto;
}
.first-tile > ion-icon:nth-of-type(1),
.second-tile > ion-icon:nth-of-type(1),
.third-tile > ion-icon:nth-of-type(1),
.fourth-tile > ion-icon:nth-of-type(1) {
  color: #ffffff;
  border-radius: 50%;
  font-size: 30p;
  padding: 2%;
  margin: 5% 1% 2% 5%;
}
.first-tile > ion-icon:nth-of-type(1) {
  background-color: #faac9f;
}
.second-tile > ion-icon:nth-of-type(1) {
  background-color: #837bee;
}
.third-tile > ion-icon:nth-of-type(1) {
  background-color: #f6cb6e;
}
.fourth-tile > ion-icon:nth-of-type(1) {
  background-color: #37ce9d;
}
.first-tile table,
.second-tile table,
.third-tile table,
.fourth-tile table {
  margin-left: 5%;
  font-size: 80%;
}
.checkmark {
  display: inline-block;
  margin-top: -2%;
  font-size: 24px;
  color: #faac9f;
}

.first-tile table td:nth-of-type(2),
.second-tile table td:nth-of-type(2),
.third-tile table td:nth-of-type(2),
.fourth-tile table td:nth-of-type(2) {
  padding-bottom: 5%;
}
/* ------------media queries--------------- */

@media only screen and (max-width: 1025px) {
  .services h2 {
    width: 80%;
    margin: 2% 10%;
    font-size: 150%;
  }
  .tile-grid {
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media only screen and (max-width: 769px) {
  .services h2 {
    width: 80%;
    margin: 2% 10%;
    font-size: 150%;
  }

  .tile-grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .tile-grid img {
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  .services h2 {
    width: 100%;
    margin: 0 0 2% 0;
    font-size: 120%;
  }

  .tile-grid {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .second-tile {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .third-tile {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .fourth-tile {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .tile-grid img {
    display: none;
  }
}
