* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  color: #15192b;
}
h2 {
  width: 60%;
  margin: 2% 20%;
  text-align: center;
  font-size: 200%;
  font-weight: 500;
}
h5 {
  font-size: 110%;
  font-weight: 400;
  margin-bottom: 2%;
  margin-left: 5%;
}
h6 {
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
  color: #ff799e;
}
.container {
  width: 80%;
  margin: 0 10%;
}
/* -------------navigation menu--------------------- */
.navigation {
  display: flex;
  justify-content: space-around;
}
ul {
  margin: 20px 15px;
  list-style-type: none;
}
ul li {
  display: inline-block;
  padding-right: 15px;
}
.menu:hover {
  border-bottom: 1px solid #ff799e;
}
.menu:link,
.menu:visited,
.sign-in:link,
.sign-in:visited {
  text-decoration: none;
}
.sign-in {
  padding: 8px 10px;
  border: 1px solid #e9e9e9;
  border-radius: 20%;
}

/* --------------hero-------------- */
.hero {
  background-image: url(/coso/app/vendors/images/background-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-label img {
  margin-top: 2%;
  margin-left: 10%;
}
h1 {
  margin-top: -30%;
  margin-left: 50%;
  background-image: url(/coso/app/vendors/images/coso.svg);
  background-repeat: no-repeat;
  font-size: 250%;
  font-weight: 600;
}
.hero-start {
  display: flex;
  justify-content: center;
}
.hero-branding,
.start-journey {
  margin-left: 10%;
  color: #ffffff;
}
.hero-branding {
  margin-top: 15%;
  font-size: 450%;
  font-weight: 600;
}
.start-journey {
  margin-top: 5%;
  padding: 1%;
  width: 25%;
  background-color: #ff799e;
}
.start-journey div:nth-of-type(1) {
  font-size: 150%;
  font-weight: 600;
  margin-bottom: 5px;
}
.start-journey div:nth-of-type(2) {
  font-size: 80%;
  font-weight: 300;
  margin-bottom: 15px;
}

.start-journey a:link,
.start-journey a:visited {
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 5%;
  padding: 2px 8px;
}
/* -----------services------------- */

.tile-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 1%;
}
.first-tile {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #f8e3e0;
}
.second-tile {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #f2f1ff;
}
.third-tile {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #fafaec;
}
.fourth-tile {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #f3fbf7;
}
.tile-grid img {
  grid-column: 3/4;
  grid-row: 1/3;
}
.first-tile > ion-icon:nth-of-type(1),
.second-tile > ion-icon:nth-of-type(1),
.third-tile > ion-icon:nth-of-type(1),
.fourth-tile > ion-icon:nth-of-type(1) {
  color: #ffffff;
  border-radius: 50%;
  font-size: 30p;
  padding: 2%;
  margin: 5% 1% 2% 5%;
}
.first-tile > ion-icon:nth-of-type(1) {
  background-color: #faac9f;
}
.second-tile > ion-icon:nth-of-type(1) {
  background-color: #837bee;
}
.third-tile > ion-icon:nth-of-type(1) {
  background-color: #f6cb6e;
}
.fourth-tile > ion-icon:nth-of-type(1) {
  background-color: #37ce9d;
}
.first-tile table,
.second-tile table,
.third-tile table,
.fourth-tile table {
  margin-left: 5%;
  font-size: 80%;
}
.checkmark {
  display: inline-block;
  margin-top: -2%;
  font-size: 24px;
  color: #faac9f;
}

.first-tile table td:nth-of-type(2),
.second-tile table td:nth-of-type(2),
.third-tile table td:nth-of-type(2),
.fourth-tile table td:nth-of-type(2) {
  padding-bottom: 5%;
}
